public/.htaccess linguist-vendored 
public/assets/* linguist-vendored
resources/assets/* linguist-vendored
resources/lang/* linguist-vendored
resources/npm/* linguist-vendored
storage/* linguist-vendored
app/Demo/* linguist-vendored

